<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Günün 3 Fırsatı</h3>
            <div class="row mt-lg-5 mt-4 pt-3">
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4">
                    <div class="grids5-info">
                        <span class="posted-date">
                            <a href="#blog-single">
                                <span class="small">2020</span>
                                <span class="big">16</span>
                                <span class="small">October</span>
                            </a>
                        </span>
                        <a href="#blog-single" class="d-block zoom">
                            <img src="assets/images/p1.jpg" alt=""
                                 class="img-fluid news-image" />
                        </a>
                        <div class="blog-info">
                            <a href="#category" class="category">İlan Tavisyeleri</a>
                            <h4><a href="#blog-single">Evinizi Satarken Dikkat Etmeniz Gerekenler</a></h4>
                            <p>Evinizi satarken göz önünde bulundurmanız gereken önemli faktörler hakkında bilgi edinin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <span class="posted-date">
                            <a href="#blog-single">
                                <span class="small">2020</span>
                                <span class="big">19</span>
                                <span class="small">October</span>
                            </a>
                        </span>
                        <a href="#blog-single" class="d-block zoom">
                            <img src="assets/images/p2.jpg" alt=""
                                 class="img-fluid news-image" />
                        </a>
                        <div class="blog-info">
                            <a href="#category" class="category">Yatırım Stratejileri</a>
                            <h4><a href="#blog-single">Emlak Yatırımı Yapmadan Önce Bilmeniz Gerekenler</a></h4>
                            <p>Emlak yatırımı yaparken dikkate almanız gereken temel unsurlar hakkında bilgi edinin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <span class="posted-date">
                            <a href="#blog-single">
                                <span class="small">2020</span>
                                <span class="big">20</span>
                                <span class="small">October</span>
                            </a>
                        </span>
                        <a href="#blog-single" class="d-block zoom">
                            <img src="assets/images/p3.jpg" alt=""
                                 class="img-fluid news-image" />
                        </a>
                        <div class="blog-info">
                            <a href="#category" class="category">Ev Kiralama</a>
                            <h4><a href="#blog-single">Ev Kiralarken Dikkat Etmeniz Gerekenler</a></h4>
                            <p>Ev kiralamadan önce bilmeniz gereken önemli ipuçları ve püf noktaları hakkında bilgi edinin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



