<section class="w3l-bottom-grids py-5" id="adimlar">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#ev-satin-al" class="title-head">Ev Satın Alın</a></h4>
                    <p>Hayalinizdeki evi satın almanız için buradayız. Size en uygun konutu bulmanıza yardımcı oluyoruz. Geniş emlak portföyümüz ile sizin için mükemmel bir ev bulmanızı sağlıyoruz.</p>
                    <a href="#ev-satin-al" class="more">Detayları İncele <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#ev-kirala" class="title-head">Ev Kiralayın</a></h4>
                    <p>Kendi evinizi kiralamak için en iyi seçenekleri sunuyoruz. Size uygun fiyatlı ve konforlu bir ev bulmanıza yardımcı oluyoruz. Geniş kiralık emlak seçenekleri ile sizin için ideal evi bulmanızı sağlıyoruz.</p>
                    <a href="#ev-kirala" class="more">Detayları İncele <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-building-o"></span>
                    <h4><a href="#mahalle-kesfedin" class="title-head">Mahalleleri Keşfedin</a></h4>
                    <p>İlgilendiğiniz mahalleleri daha yakından inceleyin. Size en iyi mahalle seçeneklerini sunuyoruz. Mahalle özellikleri ve emlak fırsatları hakkında daha fazla bilgi edinin.</p>
                    <a href="#mahalle-kesfedin" class="more">Detayları İncele <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>





