<section class="w3l-bottom-grids py-5" id="adimlar">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-search-plus"></span>
                    <h5>Hepsi Bir Arada</h5>
                    <h4><a href="#feature" class="title-head">Hayal Evinizi Bulmak İçin Tek Nokta</a></h4>
                    <p>Tüm emlak seçeneklerinizi tek bir yerde bulun. Hayalinizdeki evi bulmanıza yardımcı oluyoruz.</p>
                    <a href="#more" class="more">Ev arayışına başla <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-user-o"></span>
                    <h5>Bir Emlak Danışmanına Ulaşın</h5>
                    <h4><a href="#feature" class="title-head">Ücretsiz ve Bağlayıcı Olmayan Bir Randevu Ayarlayın</a></h4>
                    <p>Eğitimli emlak danışmanlarımızdan biriyle iletişime geçin. Size en uygun evi bulmanıza yardımcı olacaklar.</p>
                    <a href="#more" class="more">Danışman bul <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-home"></span>
                    <h5>Evinizin Değerini Anlayın</h5>
                    <h4><a href="#feature" class="title-head">Mülk Değerinizi Anlayın</a></h4>
                    <p>Evinizin güncel değerini öğrenmek için bizimle iletişime geçin. Sizin için doğru fiyatı bulmanıza yardımcı oluyoruz.</p>
                    <a href="#more" class="more">Bilgi gönder <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>

