
<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Ev Hayallerinizi Gerçekleştirin!</p>
                    <h2>Sizin İçin Mükemmel Emlakları Buluyoruz</h2>
                    <div class="most-searches">
                        <h4>Sık Arananlar</h4>
                        <ul>
                            <li><a href="#link">Daire</a></li>
                            <li><a href="#link">Villa</a></li>
                            <li><a href="#link">Yazlık</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Anahtar kelimeyi girin" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Emlak Türü</option>
                                <option>Daire</option>
                                <option>Villa</option>
                                <option>Yazlık</option>
                                <option>Arsa</option>
                                <option>İş Yeri</option>
                                <option>Depo</option>
                                <option>Ticari Bina</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Şehir Seçin</option>
                                <option>İstanbul</option>
                                <option>Ankara</option>
                                <option>İzmir</option>
                                <option>Antalya</option>
                                <option>Bodrum</option>
                                <option>Eskişehir</option>
                                <option>Bursa</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Emlak İlanları</a>
                </section>
            </div>
        </div>
    </div>
</section>



